*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 12px;
    font-weight: 400;
    list-style-type: none;
    max-width: min(85vw, 1440px);
    margin: 0 auto;
    font-family: 'Kumbh Sans', sans-serif;
}